*
{
    padding: 0;
    margin: 0;
}

#logo {
    
    margin-left: 0 ;
    margin-bottom: 0;
    
    
}
.navbar
{
background-image: url("images/HD-wallpaper-background-bg-nature-green-texture.jpg");
background-size:cover;
background size: 2px;


}



.nav-item a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: none;
    margin-left: 100px;
    word-spacing: 10px;
}
.collapse >ul>li>a:hover{
    background-color:darkgreen;
    color: black !important;
}
.carousel-inner > .carousel-item > img { height:410px; }


#button
{
    margin-left: 150px;
    margin-top: 2px;
}
#button1
{
    margin-left: 50px;
    margin-top: 2px;

}