*
{
    padding: 0;
    margin: 0;
}

#logo {
    
    margin-left: 0 ;
    margin-bottom: 0;
    
    
}
.navbar
{
background-image: url("images/HD-wallpaper-background-bg-nature-green-texture.jpg");
background-size:cover;
background size: 2px;


}



.nav-item a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: none;
    margin-left: 100px;
    word-spacing: 10px;
}
.collapse >ul>li>a:hover{
    background-color:darkgreen;
    color: black !important;
}

.carousel-inner > .carousel-item > img { height:410px; }


.side_heading p
{
    
font-family:cursive;
font-size:xx-large;
text-align:center;
 color: red;
}
.side_heading 
{
    background-image:url("images/map.png");
    background-position:bottom;
}
.side_heading > #button
{
margin-top: 180px;

}
.side_heading > #button1
{
margin-top: 180px;
float: right;
}

.my_login {
    
    height: 25em;
    padding: 30px;
    margin-right: 20px;
    
}
.my_login h2{
    text-align: center;
}
.my_login > .form-group
 {
    width: 400px;
    margin-left: 450px;
 }
 #goto
 {
    float: right;
 }
 .new_user
 {
    height: 25em;
    padding: 30px;
    margin-right: 20px;
    
 }
 .new_user > .form-group
 {
    width: 400px;
    margin-left: 390px;
    
 }
 .new_user h2{
    text-align: center;
 }
 #goto1
 {
    float: right;
 }
 .list-group
 {
    word-spacing: 4px;
 }
 .row >.content>.list-group >a:hover{
    background-color:yellow;
    color: black !important;
} 
.Thvm {
    color:white;
    text-decoration: none;
    word-spacing: 30px;
    font-size: x-large;
    
    
}
.Thvm  h1{
    color:blueviolet;
    
    
}
.hotspots
{
    color:blueviolet;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 405px;

}
 #goto2
{float: right;
}
.Ekm {
    color:black;
    text-decoration: none;
    word-spacing: 30px;
    font-size: x-large;
    
    
}
.Ekm  h1{
    color:blueviolet;
    
    
}
.hotspots
{
    color:blueviolet;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 405px;

}
 #goto2
{float: right;
}
.Wayanadu {
    color:black;
    text-decoration: none;
    word-spacing: 30px;
    font-size: x-large;
    
    
}
.Wayanadu h1{
    color:blueviolet;
    